/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .signup{
  width: 50%;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 6fr; 
  grid-template-rows: 50px 100%;
  width: 100%;
}
/* icons #38719E */
/* side bar links #5D7285 */
/*  side bar top part #1B2A3D*/

.user{
  background-color: #1B2A3D;
}
.side-bar{
  background-color:#213246 ;
  height: 100vh;
}
.navbar{
  background-color:#51A5E5 ;
} 
